.home {
  .intro{
    @media @tablet{
      padding: 0 5%;
    }
    .part2{
      .border();
    }
  }

  .content-section {
    width: 100%;
    margin: 30px 0;
    .flex(space-between, wrap);
    @media @tablet{
      display: flex;
      flex-direction: column;
    }
    
    .text-content {
      .width-pad();
      @media @tablet{
        .media-wid-pat();
      }
    }

    .img-content {
      .width-pad();
      @media @tablet{
        .media-wid-pat();        
      }

      img {
        border-radius: 10px;
        width: 100%;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    .border();
    @media @tablet{
      .media-wid-pat();        
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;
    @media @tablet{
      .media-wid-pat();        
    }
    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    border-top: 2px dashed @navigation-border;
    padding-top: 30px;
    .flex(space-between, nowrap);
    @media @tablet{
      display: flex;
      flex-direction: column;
    }
    
    .destination {
      width: 30%;
      margin-bottom: 30px;
      @media @tablet{
        .btn-pat();
        width: 100%;        
      }
      .btn{
        padding: 1rem 4rem;
        .btn-style(@button-bg,1.5rem,10px);

      }
    }
  }
}// home